@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Goudy Bookletter 1911", serif;
}

body {
  color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    #d4d65a,
    #6108d6,
    #000000,
    #ad8f06,
    #e06c00
  );
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  font-family: "goudy-bookletter-1911-regular" serif;
  color: rgb(253, 253, 253);
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  flex-wrap: wrap;
}

.logo {
  font-family: "Bowlby One SC", sans-serif;
  font-style: normal;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 80px;
  position: relative;
  z-index: 2;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 0%;
}

nav a {
  text-decoration: underline;
  text-shadow: #000;
  color: #000000;
  font-family: "Bruno Ace SC", sans-serif;
  font-size: large;
  font-style: normal;
}

nav a:hover {
  color: #000;
  text-shadow: #000000;
}

.profile img {
  width: 300px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  display: block;
  margin-bottom: 30px;
}

.intro {
  z-index: 1;
  padding: 2rem;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  text-align: center;
}

.intro h1 {
  font-size: 2.2rem;
  font-weight: 900;
  color: #6550c2;
  font-family: "Silkscreen", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.intro img {
  height: 50px;
  margin: auto;
  align-items: center;
  justify-items: center;
}

.intro h2 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #6f479c;
  font-family: "Baskervville SC", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  text-decoration: underline;
}

.intro p {
  line-height: 2;
  font-size: 1rem;
  color: #9562be;
  margin: 0 auto;
  font-family: "Zilla Slab Highlight", serif;
  font-weight: 900;
  width: 80%;
  text-align: center;
}

.zilla-slab-highlight-regular {
  font-family: "Zilla Slab Highlight", serif;
  font-weight: 400;
  font-style: normal;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 2px;
}
.tags img {
  width: 100%;
  max-width: 600px;
  height: 50px;
  max-height: 700px;
  gap: 40%;
  object-fit: contain;
}

.tag {
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 0.95rem;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.tag:hover {
  transform: scale(1.05);
}

.whatsapp {
  background-color: #0ee668;
}

.facebook {
  background-color: #2545f9;
}

.X {
  background-color: #000000;
}

.instagram {
  background-color: #910bb3;
}
.Phone {
  background-color: #939c45;
}

.Email {
  background-color: darkred;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav a {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .logo {
    margin-bottom: 10px;
  }

  .profile img {
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: auto;
  }

  .intro {
    text-align: center;
    padding: 10px;
  }
}
